@model ExamenEncuestasDevel.Models.IndexViewModel
@{
    ViewBag.Title = "Administrar encuestas";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Crear, editar y borrar encuestas</h4>
    
   

</div>
