@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Creación y llenado de encuestas</h2>
    <p class="lead">Para crear encuestas nuevas inicie sesión o registrese, si desea llenar encuesta debe tener un link.</p>
</div>

